@import "../../../stylebase/variables";

loading-indicator {
    > div {
        position: fixed;
        bottom: 10px;
        left: 10px;
        width: 250px;
        background-color: @color-primary-dark;
        color: @color-text;
        padding: 10px;
        z-index: 9999;
    }
}